html {
    background: radial-gradient(ellipse at top right, #1B2735 0%, #090A0F 100%);
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* mountains */
/*the bigger mountain*/
.mountain {
    position: absolute;
    bottom: 0;
    left: -90px;
    border-width: 35em 25em;
    border-style: solid;
    border-color: transparent transparent #93A4B4 transparent;
    z-index: 1;
}

/*the peek snow*/
.peak-snow {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}

/*shadow of first mountain*/
.shadow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 540px;
}

/*shadow of second mountain*/
.shadow.b {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 400px;
}

/*the second mountain*/
.mountain.b {
    border-color: transparent transparent #657084 transparent;
    bottom: 0;
    position: absolute;
    left: 30%;
    border-width: 25em 20em;
    border-style: solid;
    z-index: 0;
}

/*the shape of the second mountain peek*/
.shape-peak {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}