html {
    background: radial-gradient(ellipse at top right, #1B2735 0%, #090A0F 100%);
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*the moon*/
.moon {
    box-shadow: inset -10px 2px 0 0 #899098;
    width: 100px;
    height: 100px;
    background-color: #d9d8d0;
    border-radius: 180px;
    position: relative;
    top: 15px;
    right: 5px;
    float: right;
}

.moon > .circle {
    background: #b9b8b0;
    box-shadow: inset 4px -2px 0 0px #535457;
}
.circle.a {
    top: 30%;
    left: -20%;
    width: 27%;
    height: 27%;
}

.circle.b {
    top: 70%;
    left: -20%;
    width: 20%;
    height: 20%;
}

.circle.c {
    background: #b9b8b0;
    top: 30%;
    left: -20%;
    width: 10%;
    height: 10%;
}

/*original star*/
#star {
    z-index: -1;
    position: absolute;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    overflow: hidden;
    top: -10%;
    left: -10%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

/*comets*/
.comets {
    transform: rotateZ(45deg);
}

.comet {
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 15%;
    height: 2px;
    background: linear-gradient(-45deg, #8dbfff, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3000ms ease-in-out infinite, moving 3000ms ease-in-out infinite;
}

.comet::before, .comet::after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #99c0ff, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shine 3000ms ease-in-out infinite;
}

.comet::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.comet:nth-child(1) {
    top: calc(50% - 200px);
    left: calc(100% - 300px);
    animation-delay: 650ms;
}

.comet:nth-child(1)::before, .comet:nth-child(1)::after {
    animation-delay: 650ms;
}

.comet:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
}

.comet:nth-child(2)::before, .comet:nth-child(2)::after {
    animation-delay: 150ms;
}

.comet:nth-child(3) {
    top: calc(50% - 20px);
    left: calc(90% - 200px);
    animation-delay: 1500ms;
}

.comet:nth-child(3)::before, .comet:nth-child(3)::after {
    animation-delay: 1500ms;
}

/*animations comets*/
@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes shine {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
}

/* mountains */
/*the bigger mountain*/
.mountain {
    position: absolute;
    bottom: 0;
    left: -90px;
    border-width: 35em 25em;
    border-style: solid;
    border-color: transparent transparent #93A4B4 transparent;
    z-index: 1;
}

/*the peek snow*/
.peak-snow {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}

/*shadow of first mountain*/
.shadow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 540px;
}

/*shadow of second mountain*/
.shadow.b {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 400px;
}

/*the second mountain*/
.mountain.b {
    border-color: transparent transparent #657084 transparent;
    bottom: 0;
    position: absolute;
    left: 30%;
    border-width: 25em 20em;
    border-style: solid;
    z-index: 0;
}

/*the shape of the second mountain peek*/
.shape-peak {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}

/*the hills*/
.ground {
    z-index: 1;
    background-color: green;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ground > div {
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    transform: perspective(.5em) rotateX(5deg);
    transform-origin: bottom;
}

.hill.a {
    background-color: inherit;
    width: 400px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: 30px;
    transform: perspective(.4em) rotateX(8deg);
}

.hill.b {
    background-color: inherit;
    width: 400px;
    height: 90px;
    position: absolute;
    top: -90px;
    right: 200px;
}

.hill.c {
    background-color: inherit;
    width: 300px;
    height: 220px;
    position: absolute;
    top: -220px;
    right: 400px;
}

.hill.d {
    background-color: inherit;
    width: 400px;
    height: 230px;
    position: absolute;
    top: -250px;
    right: 150px;
    transform: perspective(.5em) rotateX(7deg);
}

.hill.e {
    background-color: inherit;
    width: 200px;
    height: 60px;
    position: absolute;
    top: -60px;
    right: 600px;
}

.hill.f {
    background-color: inherit;
    width: 200px;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 700px;
}

.hill.g {
     background-color: inherit;
     width: 400px;
     height: 100px;
     position: absolute;
     top: -100px;
     right: 70%;
    transform: perspective(.6em) rotateX(8deg);
}

.hill.h {
    background-color: inherit;
    width: 150px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 0;
}

.hill.i {
    background-color: inherit;
    width: 150px;
    height: 70px;
    position: absolute;
    top: -90px;
    left: 70px;
}

.tree {
    /*background-image: linear-gradient(-90deg, red, yellow);*/
    z-index: 4;
    position: absolute;
    top: 65%;
    left: 10%;
    border-width: 1.5em .5em;
    border-style: solid;
    border-radius: 30%;
    border-color: transparent transparent darkgreen transparent;
}

.tree::after {
    content: '';
    position: absolute;
    top: -25px;
    left: -24px;
    border-radius: 30%;
    border-width: 2.5em 1.5em;
    border-style: solid;
    border-color: transparent transparent darkgreen transparent;
}

.tree::before {
    content: '';
    border-radius: 30%;
    position: absolute;
    top: -15px;
    left: -40px;
    border-width: 3.5em 2.5em;
    border-style: solid;
    border-color: transparent transparent darkgreen transparent;
}

.tree-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree-dark {
    border-color: transparent transparent #004702 transparent;
}

.tree-dark::after {
    border-color: transparent transparent #004702 transparent;
}

.tree-dark::before {
    border-color: transparent transparent #004702 transparent;
}

li:nth-child(1) {
    top: 82%;
    left: 45%;
}

li:nth-child(2) {
    /*font-size: 1.25em;*/
    top: 82%;
    left: 83%;
}

li:nth-child(3) {
    /*font-size: 1.25em;*/
    top: 78%;
    left: 73%;
}

li:nth-child(4) {
    /*font-size: 1.25em;*/
    top: 82%;
    left: 92%;
}

li:nth-child(5) {
    /*font-size: 2em;*/
    top: 77%;
    left: 10%;
}

li:nth-child(6) {
    /*font-size: 0.75em;*/
    top: 80%;
    left: 55%;
}

li:nth-child(7) {
    top: 78%;
    left: 61%;
}